<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>EpicEnergyService</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/energy.css}"/>
</head>
<body>
	<header>
	
		<h1>Epic Energy Service</h1>
	
	</header>
	<div class="linkIndex">
		<a href="/web/mostraelencoclienti">Gestione clienti</a> <br> <br>
		<a href="">Gestione fatture</a>
	</div>
	<footer>
		<p>Powered by Simone Guidi &copy; 2022</p>
	</footer>

</body>
</html>